<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application><activity android:name=".ComposerPreviewActivity" android:exported="false" android:theme="@style/Theme.Zork" /><activity android:name=".MessagePresentationActivity" android:exported="false" android:theme="@style/Theme.Zork" /><activity android:name=".MarkdownStressActivity" android:exported="false" android:theme="@style/Theme.Zork" /><activity android:name=".MarkdownPreviewActivity" android:exported="false" android:theme="@style/Theme.Zork" /><activity android:name=".PageSlideActivity" android:exported="false" android:theme="@style/Theme.Zork" /><activity android:name=".Nav7PreviewActivity" android:exported="false" android:theme="@style/Theme.Zork" /><activity android:name=".ConversationScrollActivity" android:exported="false" android:theme="@style/Theme.Zork" /></application>
</manifest>
